@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero{
  @apply grid;
  grid-template-columns: .4fr .6fr;
}

input[type="email"],
input[type="password"],
input[type="text"]{
  @apply block w-full my-2 rounded-xl;
  @apply  border p-2 border-gray-300 bg-gray-100;
}

input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled{
  @apply bg-gray-300;
}

button, .button{
  @apply flex w-full justify-center gap-2 text-gray-700 font-semibold;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}
button[type="submit"]:disabled, .submit:disabled{
  @apply cursor-not-allowed bg-red-400;
}
button{
  @apply block w-full text-gray-700 font-semibold;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}


